<h1>ようこそ Bookers へ！</h1>
<p>
<strong>Bookers</strong>                   #hタグでやろうとしたが、横文字にならず調べたところp要素にh要素はダメだった。その為文字を強調させるにはstrong要素でないとダメ
では、さまざまな書簡に関するあなたの意見や
</p> 

<P>印象を共有し交換することができます</p>

<a href="/books">start</a>
